@import "../components/variables";

.About{
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        text-transform: uppercase;
        font-family: $font-nav;
        margin-bottom: 2rem;
        font-size: $h1-font-size;
    }
    margin-top: 2rem;
    @include desktop{
        margin-top: 5rem;
    }
.what-about{
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 2rem;
}
width: 95%;
margin: auto;
}
.card-about{
    font-size: 1.3rem;
    max-width: 1024px;
    letter-spacing: $normal-spacing;
    font-family:$font-body ;
    width: 70%;
   
}
.container-personas{
    @include desktop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    
    }
}
.ww-container{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.ww-container, .what-about{
    border: solid black;
    border-color: black;
    border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
  float:left; 
  padding: .5rem;
h1{
    transform: rotate(2deg);
}
}
.card-about{
    transform: rotate(2deg);
}