@import "../components/variables";
.content-advice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1{
    font-family: $font-nav;
    padding: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 3px 5px 2px #474747, 7px 7px 2px rgba(0,0,0,0.42);
    @include desktop{
      font-size: 6rem;
    }

  }
  height: auto;
  margin: 1rem;
  padding-bottom: 1rem;

  
}
.text-advice {
  font-family: $font-body;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 1.5rem;
  @include desktop{
    width: 70%;
    font-size: 2rem;
  }
}
.container-a-ac {
  margin: auto;
  margin-bottom: 2rem;
}
.container-advice{
  margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 90%;
padding-bottom: 2rem;
@include desktop{
width: 80%;
}
}
.svg-container{
  img{
    width: 100vw;
    @include desktop{
      width: auto;
    }
  }
}
.text-advice2{
  margin: auto;
}