@import "../components/variables";

.Home{
    height: calc(100vh - 80px) !important; //80px = 2rem margin + 2rem navbar
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    @include desktop{
    justify-content: space-evenly;
    }
}
.content-home{
    width: 90%;
    text-align: center;
  font-family: $font-body;
    font-size: $h2-font-size;
    h1{
        text-transform: uppercase;
        letter-spacing: $tittle-spacing;
        margin-bottom: 1rem;
    }
    a{
        text-decoration: none;
        color: color(discord) !important;
        transition: all .5s ease;
    &:hover{
        color: color(discorddarken) !important;
    }
    }
}
.discordi{
    font-size: $big-big-font;
}