@import "../components/variables";

.Home{
    height: calc(100vh - 80px) !important; //80px = 2rem margin + 2rem navbar
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    @include desktop{
        justify-content: flex-start;
    }
}
.content-home{
    width: 90%;
    text-align: center;
  font-family: $font-body;
    font-size: $h2-font-size;
    h1{
        font-family: $font-nav;
        text-transform: uppercase;
        letter-spacing: $tittle-spacing;
        margin-bottom: 1rem;
        text-shadow: 3px 5px 2px #474747, 7px 7px 2px rgba(0,0,0,0.42);
        @include desktop{
            font-size: 6rem;
        }
    }
    a{
        text-decoration: none;
        color: color(discord) !important;
        transition: all .5s ease;
    &:hover{
        color: color(discorddarken) !important;
    }
    }
}
.discordi{
    font-size: $big-big-font;
    margin-top: 2rem;

}