@import "../components/variables";
.HowTo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    h1{
        text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    }
    @include desktop{
    height: 100%;

    }
}.texthow{
    font-size: 1.2rem;
}
