@import "../components/_variables.scss";

.welcome{
  height: calc(100vh - 48px) !important;

    flex-direction: column;
    font-family: $font-body;
    font-weight: $font-semi;
    h1{
      font-size: 3rem;
      font-family: $font-nav;
      text-shadow: 3px 5px 2px #474747, 7px 7px 2px rgba(0,0,0,0.42);
    }
    h3{
      font-size: 1.5rem;
    }
    @include desktop{
      h1{
        font-size: 8rem;
      }
      h3{
        font-size: 4rem;
      }
    }
}
//button
.button-container-2 {
    background: whitesmoke;
      position: relative;
      width: 50vw;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5vh;
      overflow: hidden;
      border: 1px solid #000;
      font-weight: 300;
      transition: 0.5s;
      letter-spacing: 1px;
      border-radius: 8px;
      margin-bottom: 1vh;
      @include desktop{
        width: 30vw;
      }
     
      button {
       width: 101%;
       height: 100%;
       font-weight: 300;
       font-size: 11px;
       letter-spacing: 1px;
       font-weight: bold;
     
       @include button(#000, "https://i.imgur.com/fwAK9GZ.png",
       3000%,
       100%,
       none,
       #fff);
       cursor: pointer;
       -webkit-animation: ani2 0.7s steps(29) forwards;
       animation: ani2 0.7s steps(29) forwards;
     
       &:hover {
        -webkit-animation: ani 0.7s steps(29) forwards;
        animation: ani 0.7s steps(29) forwards;
       }
      }
     }
     
     
     .mas {
         position: absolute;
         color: #000;
         text-align: center;
         width: 101%;
         font-weight: 300;
         position: absolute;
         font-size: 11px;
         margin-top: 17px;
         overflow: hidden;
           font-weight: bold;
     }
     
     @-webkit-keyframes ani {
      from {
       -webkit-mask-position: 0 0;
       mask-position: 0 0;
      }
     
      to {
       -webkit-mask-position: 100% 0;
       mask-position: 100% 0;
      }
     }
     
     @keyframes ani {
      from {
       -webkit-mask-position: 0 0;
       mask-position: 0 0;
      }
     
      to {
       -webkit-mask-position: 100% 0;
       mask-position: 100% 0;
      }
     }
     
     @-webkit-keyframes ani2 {
      from {
       -webkit-mask-position: 100% 0;
       mask-position: 100% 0;
      }
     
      to {
       -webkit-mask-position: 0 0;
       mask-position: 0 0;
      }
     }
     
     @keyframes ani2 {
      from {
       -webkit-mask-position: 100% 0;
       mask-position: 100% 0;
      }
     
      to {
       -webkit-mask-position: 0 0;
       mask-position: 0 0;
      }
     }
     
    