@import "./variables";

.cardshow {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}
.containercards {
  padding: 1rem;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 98vw;
  font-family: $font-body;
  h1{
    font-family: $font-nav;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-shadow: 3px 5px 2px #474747, 7px 7px 2px rgba(0,0,0,0.42);
  }

}
.textcc {
  width: 75%;
  margin: 1.2rem;
  font-size: $regular-font;
  @include desktop{
    font-size: 1.5rem;
  }
}

.container-cw-slider {
    width: 90%;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  
  font-family: $font-body;
  h1 {
      font-family: $font-nav;
  font-size: 4rem;
    padding: 1rem;
    text-transform: uppercase;
  }
  div {
    padding: 1rem;
  }
  height: auto;
  margin-top: 2rem;
  @include desktop {
    height: calc(90vh - 350px) !important;
      width: 70%;
    h1{
        font-size: 6rem;
    }
  }

    }

//btn
$fuschia: rgb(107, 64, 224);
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
    .startbtn{
      text-decoration: none;
    font-size: 1em;
    padding: 1.5em 2em;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: $button-bg;
    color: $button-text-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(64, 224, 208, 0.507);
    display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  transition: all .3s ease;
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(64, 224, 208, 0.473);
  }
  &:hover{
    background-color: darken($button-bg, 5%);
    transform: scale(1.1);
  }
  @include desktop{
  font-size: 1.5rem;
  }
  }

.text-cw-s{
  font-size: 1.4rem;
  @media (min-width: 768px) and (max-width: 1152px) {
font-size: 1.3rem !important;
  }
  @include desktop{
    font-size: 2rem;
  }
}
.container-ch-c{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}