@import "./variables";

.cardhow{
      flex: 1 1 0px;
      margin: 1rem;
}
.texthow{
    margin: 5px;
}
.icons{
    font-size: 8rem;
}
.bxl-html5{
    color: color(html);
}
.bxl-css3{
    color: color(css);
}
.bxl-javascript{
    color: color(javascript);
}