@import "./variables";

.cardshow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}
.containercards {
  padding: 1rem;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-radius: 10rem;
  width: 90vw;
  @include desktop {
    width: 80vw;
  }
}
.textcc {
  width: 75%;
  margin: auto;
}
.cardhow:nth-of-type(2n) {
  @include desktop {
    border: none !important;
  }
}
.container-cw-slider {
    margin: auto;
    width: 90%;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  
  font-family: $font-body;
  h1 {
      font-family: $font-nav;
  font-size: $h1-font-size;
    padding: 1rem;
    text-transform: uppercase;
  }
  div {
    padding: 1rem;
  }
  height: auto;
  margin-top: 2rem;
  @include desktop {
    height: calc(90vh - 179px) !important;
      width: 70%;
    h1{
        font-size: 6rem;
    }
  }

    }

//btn
$fuschia: rgb(107, 64, 224);
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
    .startbtn{
      text-decoration: none;
      padding: 1rem;
    font-size: 1em;
    padding: 1em 2em;
   
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: $button-bg;
    color: $button-text-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(64, 224, 208, 0.507);
    display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  
  }

.text-cw-s{
  font-size: 1rem;
  @media (min-width: 768px) and (max-width: 1152px) {
font-size: 1.3rem !important;
  }
  @include desktop{
    font-size: 2rem;
  }
}