@import "variables.scss";

nav {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  font-family: $font-nav;
  transition: all .5s cubic-bezier(.39,.58,.57,1);
  .logo {
    margin-left: 1rem;
    .logoinside{
      font-size: 1rem;
      color: #fff;
    text-decoration: none;
    font-family: $font-body;
    }
  }
  .theme-changer{
      margin-right: 2rem;
  }
  .bx-moon {
    display: none;
    color: #fff;

  }
  .bx-sun{
      display: none;
  }
  .bx{
      font-size: 2rem;
      &:hover{
        cursor: pointer;
      }
      
  }
  .bx-menu{
    color: white;
  }

  ul {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    display: none;
    a{
      color: #fff;
      text-decoration: none;
      transition: cubic-bezier(0.68, -0.55, 0.256,1.55);
      transition-duration: .6s;
    }
  }

  #closebtn{
      display: none;
      font-size: 2rem;
      color: color(secondary);
  }
  a.active{
      color: red;
background: #fff;
padding: 1rem;
border-radius: 1.3rem;
padding-bottom: 1rem;
margin-bottom: -14px;
  }
  @include desktop {
    justify-content: space-around;
    .logo {
      font-size: 1rem;
    }
    ul {
      max-width: 1024px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 80%;
    }
    .bx-moon {
        display: flex;
      }
      .bx-menu{
          display: none;
      }
      a.active{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
  }
}

.mactive {
    flex-direction: column;
    width: 100vw;
height: 100vh;
ul{
    width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
#closebtn{
    display: block;
}
.theme-changer{
    display: none;
}
.logo{
    display: none;
}
}
