@import "./variables";

.container-btn-sc{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
//prev nav btn
.nextbtn{
    text-decoration: none;
    padding: 1rem;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(64, 224, 208, 0.507);
  
  &:focus {
    outline: 0;
  }
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(64, 224, 208, 0.473);
  }
  display: flex;
justify-content: center;
align-items: center;

}
.prevbtn{
    text-decoration: none;
    padding: 1rem;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg2;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(62, 92, 183, 0.507);
  
  &:focus {
    outline: 0;
  }
  
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg2, 5%);
    box-shadow: 0 2px 25px rgba(62, 92, 183, 0.527);
  }
  
  display: flex;
justify-content: center;
align-items: center;
}

//CARDS
.bxl-react{
  color:color(react);
}
.bxl-angular{
  color:color(angular);
}
.bxl-vuejs{
  color:color(vue);
}
.bxl-nodejs{
  color: color(node);
}
.bxl-sass{
  color: color(sass);
}
.bxl-git{
  color:color(git);
}
#htmlcard{
  h1{
    color: color(html);
  }
  &.lined.thick{
    border:solid 7px color(html);
 }
}
#csscard{
  h1{
    color: color(css);
  }
  &.lined.thick{
    border:solid 7px color(css);
 }
}
#jscard{
  h1{
    color: color(jsdarken);
    font-size: 3rem;
  }
  &.lined.thick{
    border:solid 7px color(javascript);
 }
}
#reactcard{
  h1{
    color: color(reactdarken);
  }
  &.lined.thick{
    border:solid 7px color(react);
 }}

#vuecard{
  h1{
    color: color(vue);
  }
  &.lined.thick{
    border:solid 7px color(vue);
 }}
 #angularcard{
  h1{
    font-size: 3rem;
    color: color(angular);
  }
  &.lined.thick{
    border:solid 7px color(angular);
 }}

 #nodecard{
  h1{
    color: color(node);
  }
  &.lined.thick{
    border:solid 7px color(node);
 }}

 #sasscard{
  h1{
    color: color(sass);
  }
  &.lined.thick{
    border:solid 7px color(sass);
 }}
 #gitcard{
  h1{
    color: color(git);
  }
  &.lined.thick{
    border:solid 7px color(git);
 }}
 #ac13,#ac14, #ac15, #ac16{
  background:url(../components/TJS.webp);
  background-position: center;
   background-size: cover;
 }
 #ac9,#ac10, #ac11, #ac12{
  background:url(../components/TCSS.webp);
  background-position: center;
   background-size: cover;
 }
 #ac5,#ac6, #ac7, #ac8{
  background:url(../components/THTML.webp);
  background-position: center;
   background-size: cover;
 }