body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*========== GENERAL CLASSES ==========*/

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
  width: 100%;
  height: 100%;
}
/*========== BASE + NO SCROLL BAR ==========*/
html{
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html, body{
  word-break: break-word;
}
*, *::before,::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}